.tasks-container {
    background-color: #7687A1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); 
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}

.tasks-container h1 {
    text-align: center;
    color: #fff;
}

.tasks-container .input-text {
    margin-top: 5px;
}


@media (max-width: 600px) {
    .tasks-container {
        padding: 15px;
        width: 90%;
    }

    .tasks-container .input-text, .tasks-container button {
        font-size: 14px;
    }
}