.task-item {
    background-color: #4D4D4D;
    border-radius: 8px;
    box-shadow: 2px 4px 4px #0000009F;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    display: flex;
    flex-direction: column; /* Coloca descrição abaixo do titulo! */
}

.task-title {
    font-size: 1.2em;
    font-weight: bold;
}

.task-description {
    font-size: 0.9em;
    margin-top: 5px;
}